
body {
    font-family: cursive;
}

header {
    position: relative;
    overflow: hidden;
    background-color:salmon;
    padding: 10px;
    text-align: center;
    color: white;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 400px;
}
.carousel img {
    width: 100%;
    display: none;
}
.carousel img.active {
    display: block;
}
nav {
    background-color: salmon;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
section {
    padding: 20px;
}
h2 {
    color: salmon;
}
h1{
    color:salmon;
    text-align: center;
}
footer {
    background-color:salmon;
    color: white;
    text-align: center;
    padding: 10px 0;
}
